@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.navLink {
}

.navLink:hover {
}

.webLink {
  @apply underline text-yellow-700;
}

.webLink:hover {
  @apply text-yellow-600;
}

.content {
  @apply my-0 mx-auto py-4 px-2;
  max-width: 56rem;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

@tailwind utilities;

.react-toggle {
  @apply
    flex
    justify-center
    items-center
  flex-shrink-0
  ;
}

.react-toggle-track {
}

.react-toggle-thumb {
  @apply
  rounded
  border
  border-black
  w-4
  h-4
  bg-red-500
  ;
}

.react-toggle-screenreader-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
