.row {
}

.header {
  @apply flex justify-between;
}

.name {
  @apply text-3xl mr-4;
}

.link {
  @apply mr-4;
}

.footer {
  @apply flex justify-between;
}

.tagText {
  color: white;
  mix-blend-mode: overlay;
}

.languages {
  @apply mb-2;
}

.language {
  @apply rounded bg-gray-500 px-2 py-1 mx-1 text-sm;
}

.topics {
  @apply mb-2;
}

.topic {
  @apply rounded bg-gray-500 px-2 py-1 mx-1 text-sm;
}

.carousel {
  @apply my-4;
}

.screenshotHolder {
  @apply h-full;
}

.screenshot {
  @apply object-contain object-center;
  width: 30rem;
  height: 25rem;
}
